.video{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height:100%;
	width: auto;
	height: auto;
	z-index: -1;
}
.page-1{
	z-index:1;	
}

#navbar{
	position: fixed;
	width: 100%;
	height: 100px;
	z-index: 1;
	background: rgba(77, 77, 51, 0.7);
	border-top: 5px solid #5694f7;	
	-webkit-transition: background 0.7s ease-in-out;
	transition: background 0.7s ease-in-out;
}

#navbar ul{
	list-style-type: none; 
	overflow: hidden;
	float: right;
	margin: 18px 50px 0 0;
}

#navbar li{
	float: left;
	
}

#navbar li a{	
	display: inline-block;
	margin: 15px;
	font-size: 25px;
	text-decoration: none;
	color: #5694f7;
}

#navbar li a:hover{
	color: #fff;
	transition: 0.5s ease-in-out;
}

.icon i{
	display: none;
}

.search {
	position: absolute;
	right: 520px;
	border: 2px solid #ccc;
	border-radius: 8px;
	padding: 8px;
	width: 200px;
	-webkit-transition: width 2.3s ease-in-out;
	transition: width 2.3s ease-in-out;
}

.logo{
	margin-left: 150px;
	height: 180px;
	width: 280px;
	margin-top: -40px;
}

#content-1, #content-2{
	font-size: 25px;
	text-align: center;
	font-family: 'Rock Salt', cursive;
	margin-top: 170px;
	font-weight: bold;
}
#mobile-content-1{
	display: none;
}

#content-2{
	margin-top: 80px;
}

#content-2 hr{
	border: 5px solid #ff0;
	width: 420px;
	position: relative;
	top: -20px;
	left: 87px;
}

.my-image{
	height: 550px;
	width: 750px;
	/*opacity: 0.8;*/
}

.hello{
	font-size: 80px;
	color: #0066ff;
}

.hello-2{
	font-size: 30px;
	color: #ff0;
}

.page-2{
	text-align: center;
	margin-top: 200px;
}

.page-2 h2, .page-3 h2, .page-4 h2{
	font-family: 'Rock Salt', cursive;
	font-size: 25px;
	font-weight: bold;
	color: #5694f7;
	margin-top: 35px;
	z-index: 1;
	text-align: center;
	animation: bounce 1 1s infinite alternate;
	-webkit-animation: bounce1 1s infinite alternate;

}
@keyframes bounce1 {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-15px);
	}
}

.page-2 hr, .page-3 hr, .page-4 hr{
	border: 2px solid #ff0;
	width: 250px;
	animation: bounce 1s infinite alternate;
	-webkit-animation: bounce 1s infinite alternate;

}

@keyframes bounce {
	from {
		transform: translateX(-10px);
	}
	to {
		transform: translateX(20px);
	}
}
@-webkit-keyframes bounce {
	from {
		transform: translateX(0px);
	}
	to {
		transform: translateX(20px);
	}
}

#content-3{
	margin-top: 45px;
}

.about-image{
	height: 550px;
	width: 390px;
}

.my-info{
	font-family: 'Pompiere', cursive;
	font-size: 28px;
	color: #0d1a00;
	padding: 12px;
	margin-top: 10px;
	font-weight: bold;
	border-radius: 10px;
	background: rgba(135, 137, 138, 0.7);
	-webkit-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.full-screen{
	transform: scale(2.0, 1.0) translateX(-120px);
}

.views{
	font-size: 18px;
	margin: 20px;		
}

input[type="radio"]{
	cursor: pointer;
	font-size: 25px;
}

.page-3{
	margin-top: 20px;
	color: #D5E5EB;

}
#resume-page{
	background: url('../images/background-1.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;	
}

.page-3 h3{
	font-weight: bold;
	font-size: 30px;
	font-family: 'Pompiere', cursive;
	margin-top: 35px;
	text-decoration: underline;
	color: #A1C7D4;
}

.page-3 h4{
	margin: 25px 0 15px 0;
	font-weight: bold;
	color: #A1C7D4;

}

.page-3 h5{
	font-weight: bold;
	font-size: 18px;
	
}

.page-3 ul li, .page-3 ul li a{
	font-size: 18px;
	font-weight: 700;
}

#contact-page{
	background: url('../images/background-4.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;	
	margin-top: 2px;
}
#form{
	border: 4px solid #000;
	font-family: 'Pompiere', cursive;
	font-size: 25px;
	font-weight: 900;
	background: url('../images/contact.png');
}
.straight-line{
	float: left;
	background: -webkit-linear-gradient(bottom,rgba(0,0,0,1),rgba(0,0,0,0.5));
	background: -ms-linear-gradient(bottom,rgba(0,0,0,1),rgba(0,0,0,0.5));
	background: -moz-linear-gradient(bottom,rgba(0,0,,1),rgba(0,0,0,0.5));
	font-size: 44px;
	font-family: 'Pompiere', cursive;
	font-weight: bold;
	color: #ff0;
	
	-ms-writing-mode: vertical-lr; 
	-webkit-writing-mode: vertical-lr;
	-moz-writing-mode: vertical-lr;
	-ms-writing-mode: vertical-lr;
	writing-mode: vertical-lr;

	-webkit-text-orientation: upright;
	-moz-text-orientation: upright;
	-ms-text-orientation: upright;
	text-orientation: upright;
	
}

.form-para{
	margin-top: 18px;
}

#submit-button{
	border-radius: 8px;
	border-color: #5694f7;
	background: green;
	margin: 0 0 5px 5px;
	color: #fff;
	font-size: 32px;
}
#form input, textarea{
	box-sizing: border-box;
	background: rgba(0, 204, 255, 0.7);
	border-color: #ff0;
	border-radius: 8px;
	margin: 0 0 4px 5px;
}

#form textarea{
	margin-left: 5px;
}

#content-7 h3{
	font-size: 45px;
	color: #fff;
	font-family: 'Pompiere', cursive;
	font-weight: bold;
	margin-left: 150px;
	text-decoration: underline;
}

.project-image{
	height: 100%;
	width: 100%;
	/*margin: 10px 0 10px 40px;*/
	cursor: pointer;
	transition: ease-in-out 0.5s;
}

.project-image:hover{
	transform: scaleX(1.1);
}

.project-image-modal{
	height: 550px;
	width: 550px;
}

.description{
	/*text-align: center;*/
	color: #fff;
}

.projects{
	border: 2px solid #ff0;
	border-radius: 5px;
	margin: 20px;
	text-align: center;
	height: 150px;
}
.footer{
	text-align: center;
	font-size: 25px;
}



@media all and (max-width: 1200px) {

	.video{
		display: none;
	}
	header{
		background: url('../images/background-4.jpg');
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
	}
	
	#navbar{
		background: rgba(77, 77, 51, 0.8);
		height: auto;
		-webkit-transition: all 0.8s ease-in-out;
		transition: all 0.8s ease-in-out;
	}
	
	#navbar ul li a{
		display: none;
		
   	}

   	#navbar ul{
		list-style-type: none; 
		overflow: hidden;
		float: none;
		margin: 90px 0 0 0;
	}

   	.icon i{
		float: right;
		display: block;
		margin: 30px 50px 0 0;
		color: #fff;
		cursor: pointer;
		background: #5694f7;
		border-radius: 8px;
		width: 40px;
		text-align: center;
    }

   	#navbar .responsive li a{
   		position: relative;
   		display: block;
    	text-align: left;
    	margin: 2px 0 0 -32px;
    }

	#navbar .responsive li{
		float: none;
		clear: all;
	}	
		
	#navbar li a:hover{
		color: #fff;
		background-color: #000;
	}
	.search {
		position: fixed;
		right: 0;
	}

	.logo{
		margin-left: 0;
		height: 100px;
		width: 180px;
		margin-top: 0px;
		position: fixed;
	}

	#mobile-content-1{
		display: block;
		font-size: 25px;
		text-align: center;
		font-family: 'Rock Salt', cursive;
		margin: 150px 0 120px 0;
		font-weight: bold;
	}
	#content-1, #content-2{
		display: none;
	}

	.image-mobile{
		width: 200px;
		height: 200px;
		margin-bottom: 30px;
	}

	.hello{
		margin-bottom: 35px;
		font-size: 60px;
		color: #5694f7;
	}

	.hello-2{
		padding: 5px;
		font-size: 20px;
		color: #ff0;
	}

	.page-2{
		margin: 25px 0 50px 0;
	}

	#about-page{
		background: url('../images/background-4.jpg');
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;
		margin-top: 2px;
	}

	#content-3{
		display: none;
	}

	.my-info{
		font-size: 25px;
		color: #0d1a00;
		padding: 5px;
		margin-top: 0px;
		width: 100%;
	}

	.views{
		display: none;		
	}

	input[type="radio"]{
		cursor: pointer;
		font-size: 25px;
	}

	.page-3{
		margin-top: 0;
		color: #D5E5EB;

	}
	#resume-page{
		background: url('../images/background-4.jpg');
		background-attachment: fixed;
		background-position: center;
		background-size: cover;	
		background-repeat: no-repeat;
		margin-top: 2px;
	}

	.page-3 h2{
		font-size: 22px;
		margin-top: 50px;
	}
	.page-3 h3{
		font-size: 20px;
		margin-top: 15px;
	}

	.page-3 ul li, .page-3 ul li a{
		font-size: 13px;

	}
	#contact-page{
		background: url('../images/background-4.jpg');
		background-attachment: fixed;
		background-position: center;
		background-size: cover;	
		margin-top: 2px;
	}

	#form input{
		width: 60%;
	}

	#form textarea {
		width: 75%;
}
